@import './Components/components';
.variant-record-summary-container {
    hr {
        +hr {
            display: none;
        }
    }
    .present {
        background-color: red;
        padding: 0 4px;
        border-radius: 4px;
        color: $white;
        font-weight: bold;
        font-size: 1.3em;
    }
    .flag {
        +.flag {
            margin-left: 5px;
        }
    }
    .record-subtitle-container {
        margin-top: -10px;
        h3 {
           padding-top: 0px;
        } 
       
    }
    .record-detail-container {
        &.bordered {
            border-bottom: 1px solid;
        }
        p {
            margin: 2px;
        }
    }
    ul.link-list {
        list-style: disc;
        li {
            margin-left: 5px;
        }
    }
    ul.horizontal-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        li + li {
            margin-left: 5px;
        }
    }
}