// override .btn === .btn-dark
.btn {
    color: #fff;
    background-color: $dark;
    border-color: $dark;
}

.btn:hover {
    color: #fff;
    background-color: darken($dark, 7.5%);
    border-color: darken($dark, 10%)
}

.btn:focus,
.btn.focus {
    color: #fff;
    background-color: darken($dark, 7.5%);
    border-color: darken($dark, 10%);
    box-shadow: 0 0 0 0.2rem rgba(116, 57, 105, 0.5);
}

.btn.disabled,
.btn:disabled {
    color: #fff;
    background-color: $dark;
    border-color: $dark;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active,
.show>.btn.dropdown-toggle {
    color: #fff;
    background-color: darken($dark, 10%);
    border-color: darken($dark, 12.5%)
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.show>.btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(116, 57, 105, 0.5);
}

// override variants/otherwise import order leads to screwy mixups in coloring
@each $color, $value in $theme-colors {
    .btn-#{$color} {
      @include button-variant($value, $value);
    }
  }
