/* css for highcharts elements */
@import "./variables";

span.legend-text-with-tooltip:hover {
    position: relative
}

span[title].legend-text-with-tooltip:hover:after {
    content: attr(title);
    background-color: $primary;
    color: white;
    padding: 8px 16px;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 14px;
}