
ul {
    list-style-type: none;
}

text {
    fill: black;
    stroke-width: 0;
}

.badge {
    padding: 10px;
    border-radius: 4px;
    border: none;
    + .badge {
        margin-left: 5px;
    }
    &.red {
        color: white;
        background-color: red;
    }
    &.black {
        color: white;
        background-color: black;
    }
    &.small {
        padding: 5px;
    }
}

.red {
    color: red;
}

.green {
    color: green;
}

.grey {
    color: #e0e0e0;
}

.link {
    cursor: pointer;
}

.no-padding {
    padding: 0px !important;
}
