//global colors

$purple: #2b1626;
$light-purple: #950065;
$dove-grey: #9ca3c1;
$lavender: #592a4f;

$button-blue: #618eb5;


$light-gray: rgba(#dad9e1,.5);
$gray: #6c6a77;
$white: #fff;
$white-smoke: rgba(#f0f2e9, .5);

//todo: typography;
$yellow: #f9c664;
$dark-blue: #27333f;

//utility colors
$lime-green: #32cd32;
$marine: #069;
$pale-green: #dae0c8;

//palette:
//$primary: $purple;
$accent-light: $lavender;
$accent-lighter: $light-purple;
$accent-lightest: $dove-grey;

//impact indicators
$high: #ff00ff;
$moderate: gold;
$low: green;
$modifier: #669;
$notReported: black;



$content-max-width: 1100px;