//global colors

// color-blind friendly palettle for plots
$cb-palette-red: #ee442f;
$cb-palette-purple: #601a4a;
$cb-palette-blue: #63acbe;

// home page colors
$secondary: #f9c664;
$bluegrey: #27333f;
$grey: #77878b;
$gray: $grey;
$dark: #5c164e;
$light: #e2fcef;
$warning: #020202;
$semi-transparent-purple: #5c164e12; //formerly $light-purple
$light-purple: #f2dfde;

$yellow: $secondary;

$lime-green: #32cd32;
$marine: #069;
$pale-green: #dae0c8;

// variant impact indicators
$high: #ff00ff;
$moderate: gold;
$low: green;
$modifier: #669;
$notReported: black;

$content-max-width: 1100px;
