
//global colors

// color-blind friendly palettle for plots
$cb-palette-red: #EE442F;
$cb-palette-purple : #601A4A;
$cb-palette-blue: #63ACBE;

// home page colors
$secondary: #F9C664;
$bluegrey: #27333F;
$grey: #77878B;
$gray: $grey;
$dark: #5C164E;
$light: #E2FCEF;
$warning: #9B287B;
$light-purple: #5C164E12;

$yellow: $secondary;

$lime-green: #32cd32;
$marine: #069;
$pale-green: #dae0c8;

// variant impact indicators
$high: #ff00ff;
$moderate: gold;
$low: green;
$modifier: #669;
$notReported: black;

$content-max-width: 1100px;
