// material-ui / wdk css overrides

/* [class*="MUI-button"] {
    hover: {text-decoration: none}
} */

//overrides go here

.wdk-RootContainer {
   
}
.wdk-PageContent {
    margin-top: 80px; // necessary to accomodate fixed header
}

.wdk-RecordContainer {
    margin-top: 20px;
}

.eupathdb-Announcement {
    margin: 10px 3px 3px 3px;
}



// not sure which we will keep




.wdk-RecordMain .wdk-CollapsibleSectionHeader.wdk-RecordSubsectionHeader {
    font-size: 1.2em;
}

.wdk-CollapsibleSectionContent {
    &.wdk-RecordTableContainerContent {
        display: flex;
        justify-content: center;
    }
}

.wdk-RecordContainer {
    #_ideogramInnerWrap {
        overflow-x: auto !important;
    }
    .wdk-RecordSidebar {
        top: 10px;
    }
}

.wdk-RecordNavigationSectionHeader {
    // record name in conext menu
    //display: none;
    font-family: "Roboto";
    text-align: center
}

h1.record-heading {
    display: none;
}

#header {
    //height: 95px;
}

.HelpTrigger .fa {
    margin-left: 5px;
}

//overriding default sidebar css with sticky sidebar css, so that its position is always fixed
.wdk-RecordSidebar {
    position: fixed !important;
    top: 0;
    left: -298px;
    margin-top: 8em;
}

.wdk-RecordContainer__withSidebar {
    .record-heading-container {
        padding-left: 290px;
    }
}
