.home-page-card-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: 1px solid $accent-light;
    border-radius: 5px;
    .home-page-card-header {
        background-color: $white-smoke;
        display: flex;
        align-items: center;
        flex-direction: column;
        .image-container {
            height: 180px;
            align-items: center;
            display: flex;
            img {
                max-width: 180px;
            }
        }
        .home-page-card-title {
            font-size: 36px;
            color: $white-smoke;
            background-color: $accent-light;
            font-family: Lato;
            text-align: center;
            padding: 5px;
            align-self: stretch;
        }
    }
    .card-text {
        padding: 10px;
    }
}