#locuszoom-section {
    width: 100%;
}

.wdk-RecordSidebar {
    //display: none;
}

.gwas-RecordHeading--circular-manhattan {
    width: 350px; /* width of container */
    //height: 350px; /* height of container */
}

.gwas-RecordHeading--standard-manhattan {
    width: 100%; /* width of container */
}
