# Properties defined here can be referenced in model XML files.
# For example, this line: NAME=value
# will cause the WDK to replace  all occurrences of "@NAME@" in the model XML with "value".
# Properties can also be accessed via jsp pages through the wdkModel bean as follows:
# ${applicationScope.wdkModel.properties['NAME']}

SITE_ADMIN_EMAIL=
STEP_ANALYSIS_JOB_DIR=/www/common/temp

#----------------------------------------------------------
# Project Identifiers & Configuration
#----------------------------------------------------------

PROJECT_ID=GRCh37
#PROJECT_ID=GRCh38
DONT_EMAIL_NEW_USER=true

GENOME_BUILD=GRCh37.p13
GENCODE_VERSION=v19
dbSNP_VERSION=151

# Base URL: uncomment https://dev.niagads.org for development
# only one should be uncommented
# NIAGADS_BASE_URL=https://www.niagads.org 
NIAGADS_BASE_URL=https://beta.niagads.org
WEBAPP=genomics

#----------------------------------------------------------
# Constants
#----------------------------------------------------------

FLANK_50KB=50000
FLANK_100KB=100000
FLANK_200KB=200000
FLANK_LOCUSZOOM=10000

LZRECOMBINATION_RATE_DATASOURCE=HAPMAP_RECOMB

#----------------------------------------------------------
# External Database Release Ids (as referenced in appDb)
#----------------------------------------------------------


#----------------------------------------------------------
# DATA INCLUSION/EXCLUSION LISTS
#----------------------------------------------------------

NON_GWAS_SS_NIAGADS=NG00061
INFERNO_PUBMED_ID=30113658
GWAS_ORDERED_FILTER_CATEGORY_PARENTS=Project,Diagnosis,Population,Study Design,Genotype,Biomarker

DATASETS_WITH_RELAXED_PVALUE=NG00027_ADJ_STAGE2|NG00040

#----------------------------------------------------------
# Internal Urls
#----------------------------------------------------------

#----------------------------------------------------------
# External URLS
#----------------------------------------------------------

ADSP_URL=https://www.niagads.org/adsp/content/about
INFERNO_URL=http://inferno.lisanwanglab.org/
FILER_TRACK_URL=https://tf.lisanwanglab.org/GADB

ENSEMBL_URL=http://www.ensembl.org/
ENSEMBL_URL_GRCh37=http://grch37.ensembl.org

GENE_ONTOLOGY_URL=http://www.geneontology.org/
NHGRI_GWAS_CATALOG_URL=https://www.ebi.ac.uk/gwas/

DBSNP_URL=http://www.ncbi.nlm.nih.gov/snp/

KEGG_BASE_URL=http://www.kegg.jp/
SNP_EFF_URL=http://snpeff.sourceforge.net/
SNP_EFF_VERSION=4.2
EXAC_URL=http://exac.broadinstitute.org/
HUGO_URL=https://www.genenames.org

NCBI_ENTREZ_GENE_URL=http://www.ncbi.nlm.nih.gov/gene/
NCBI_SEQUENCE_ACCESSION_URL=http://www.ncbi.nlm.nih.gov/nuccore/
NCBI_SEQUENCE_ACCESSION_URL=http://www.ncbi.nlm.nih.gov/nuccore/

ENSEMBL_GENE_URL_GRCh37=http://grch37.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=
ENSEMBL_TRANSCRIPT_URL_GRCh37=http://grch37.ensembl.org/Homo_sapiens/Transcript/Summary?db=core;t=
ENSEMBL_VARIANT_URL_GRCh37=http://grch37.ensembl.org/Homo_sapiens/Variation/Explore?v=
ENSEMBL_REGULATORY_FEATURE_URL_GRCh37=https://grch37.ensembl.org/Homo_sapiens/Regulation/Summary?db=core;fdb=funcgen;rf=
ENSEMBL_MOTIF_FEATURE_URL_GRCh37=https://grch37.ensembl.org/motifWidget.htm?id=

VEGA_URL=http://vega.sanger.ac.uk/Homo_sapiens/Gene/Summary?db=core;g=
OMIM_URL=http://omim.org/entry/

STRINGDB_URL=http://string-db.org/newstring_cgi/show_network_section.pl?all_channels_on=1&interactive=yes&network_flavor=evidence&targetmode=proteins&species=9606&identifier=

PUBMED_URL=http://www.ncbi.nlm.nih.gov/pubmed/
PUBMED_GENE_SEARCH_URL=http://www.ncbi.nlm.nih.gov/pubmed?LinkName=gene_pubmed&from_uid=

UNIPROT_URL=https://www.uniprot.org/uniprot/

DOI_URL=https://www.doi.org/

AMIGO_URL=http://amigo.geneontology.org/amigo/term/

KEGG_PATHWAY_IMG_URL=http://www.kegg.jp/kegg-bin/show_pathway?
KEGG_PATHWAY_LINK_URL=http://www.kegg.jp/dbget-bin/www_bget?pathway+

REACTOME_PATHWAY_URL=https://reactome.org/content/detail/

GTEX_GENE_URL=http://www.gtexportal.org/home/gene/
GTEX_VARIANT_URL=http://www.gtexportal.org/home/snp/

EXAC_VARIANT_URL=http://exac.broadinstitute.org/variant/
EXAC_GENE_URL=http://exac.broadinstitute.org/gene/

HUMAN_PROTEIN_ATLAS_URL=http://www.proteinatlas.org/

EMBL_EXPRESSION_ATLAS_URL=https://www.ebi.ac.uk/gxa/search?exactMatch=true&_exactMatch=on&organism=Homo+sapiens&geneQuery=

UCSC_BROWSER_URL_GRCh37=https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=

HGNC_URL=https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/

EFO_TRAIT_URL=http://www.ebi.ac.uk/efo/

