.feature-item {
  display: flex;
  padding: 10px;
  margin: 5px;
  border: $light-gray 0.1px solid;
  span.fa {
    -webkit-text-stroke: 9px white;
  }
  .icon-section {
    display: flex;
    align-items: center;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .search-buttons {
      display: flex;
      justify-content: center;
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
      .feature-link-button {
        background-color: $yellow;
        color: $white;
        padding: 12px;
        border-radius: 4px;
      }
    }
  }
}
