.gene-record-summary-container {
  ul {
    li {
      display: flex;
      h4.subtitle {
        font-weight: bold;
        margin: 0px;
        padding: 0px;
      }
      &.badge-links {
        ul {
          margin-left: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          li {
            + li {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
.sub-categories {
  margin-left: 25px;
}
