.site-menu {
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $gray;
        ul {
            display: flex;
            align-items: center;
            margin: 0px;
            .dropdown-list {
                z-index: 3;
                position: absolute;
                flex-direction: column;
                display: flex;
                align-items: flex-start;
                background-color: $accent-lightest;
                color: $primary;
                li {
                    display: flex;
                    a:hover {
                        color: $primary;
                    }
                }
            }
            li {
                a {
                    text-decoration: none;
                    padding: 2px 10px;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $gray;
                    -webkit-transition: color .2s ease;
                    transition: color .2s ease;
                    border: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    &:hover {
                        color: $accent-lightest
                    }
                }
                +li {
                    border-left: solid thin $gray;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        flex-grow: 1;
        nav {
            flex-direction: column;
            align-items: stretch;
            ul {
                flex-direction: column;
                align-items: stretch;
                &.dropdown-list {
                    position: relative;
                }
                li {
                    +li {
                        border-left: none;
                    }
                    a {
                        justify-content: space-between;
                    }
                    &:not(:first-child) {
                        border-top: solid 1px $accent-lightest;
                    }
                }
            }
        }
    }
}