
.site-menu {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;

    ul {
      display: flex;
      align-items: center;
      margin: 0px;
      list-style-type: none;

      .dropdown-list {
        z-index: 3;
        position: absolute;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        color: $grey;

        li {
          display: flex;

          a:hover {
            color: $warning;
          }
        }
      }

      li {
        a {
          text-decoration: none;
          padding: .4em 1em;
          font-size: 1rem;
          text-transform: uppercase;
          color: $dark;
          -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
          border: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          white-space: nowrap;
          margin-bottom: -7px;

          &:hover {
            color: white;
            background-color: $dark;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    flex-grow: 1;

    nav {
      flex-direction: column;
      align-items: stretch;

      ul {
        flex-direction: column;
        align-items: stretch;

        &.dropdown-list {
          position: relative;
        }

        li {
          +li {
            border-left: none;
          }

          a {
            justify-content: space-between;
          }

          &:not(:first-child) {
           // border-top: solid 1px //$accent-lightest;
          }
        }
      }
    }
  }
}