.site-menu {
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $gray;

        ul {
            display: flex;
            align-items: center;
            margin: 0px;
            list-style-type: none;
            li {
                a {
                    text-decoration: none;
                    padding: 1em;
                    font-size: 1rem;
                    text-transform: uppercase;
                    color: $dark;
                    -webkit-transition: color 0.2s ease;
                    transition: color 0.2s ease;
                    border: none;
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    white-space: nowrap;
                    background-color: $light-purple;
                    &:hover {
                        color: white;
                        background-color: $dark;
                    }
                }
                //submenu
                ul.dropdown-list {
                    border-top: $gray solid 0.5px;
                    background-color: $light-purple;
                    z-index: 3;
                    position: absolute;
                    flex-direction: column;
                    display: flex;
                    align-items: flex-start;
                    color: $grey;
                    li {
                        a {
                            padding: 0.75em;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        flex-grow: 1;

        nav {
            flex-direction: column;
            align-items: stretch;

            ul {
                flex-direction: column;
                align-items: stretch;

                &.dropdown-list {
                    position: relative;
                }

                li {
                    + li {
                        border-left: none;
                    }

                    a {
                        justify-content: space-between;
                    }

                    &:not(:first-child) {
                        // border-top: solid 1px //$accent-lightest;
                    }
                }
            }
        }
    }
}
