.user-menu {
    .user-welcome {
        color: $bluegrey;
        margin-right: 10px;
    }
    .registered-user-menu {
        position: relative;
        .niagads-dropdown-menu {
            position: absolute;
            z-index: 99999;
            background-color: $white;
            border: thin $gray solid;
            margin-left: 0px;
            .niagads-dropdown-item {
                padding: 3px;
                &:hover {
                    background-color: $light-purple;
                    a {
                        color: $dark;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
