.niagads-site-footer {
  flex-shrink: 0;

  .niagads-section {
    padding: 2em 1em;
    font-size: 0.875em;
    background-color: #3d5263;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;

    .policies-menu {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
          padding: 0px 5px;

          +li {
            border-left: 0.5px solid gray;
          }

          a {
            color: #ffc665;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .niagads-logo {
      display: inline-flex;
      flex-direction: column;
      align-items: center;

      figcaption {
        color: white;
        text-decoration: none;
      }
    }

    .copyright {
      display: flex;
      justify-content: center;
      font-size: 85%;
      color: #aaaaaa;
      //margin-top: 1em;
    }
  }

  .wdk-section {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
  }
}