<tomcat-users>
    <role rolename="manager-gui"/>
    <role rolename="manager-script"/>
    <user username="tomcat-admin" password="@TOMCAT_MANAGER_PASSWORD@" roles="manager-gui,manager-script"/>
</tomcat-users>