.ideogram-plot {
  .annot {
    path {
      cursor: pointer;
    }
  }
}

.correlation-modal {
  .wdk-DialogContent {
    overflow: hidden;
  }
  #correlation-plot {
    padding: 6%;
    align-content: center;
    justify-content: center;
    display: flex;
  }
}
