.ideogram-plot {
  .annot {
    path {
      cursor: pointer;
    }
  }
}

.ideogram-detail-modal {
  align-content: center;
  justify-content: center;
  display: flex;
  .ideogram-detail-modalContent {
    overflow: hidden;
  }
  .wdk-DialogTitle {
    overflow: unset;
    text-overflow: unset;
  }
  #correlation-plot {
    align-content: center;
    justify-content: center;
    display: flex;
  }
}
