.css-bar-chart {
    display: flex;
    .chart-container {
        display: flex;
        max-width: 150px;
        border-radius: 3px;
        max-height: 1.4em;
        flex-grow: 1;
        .filled {
            background-color: $cb-palette-purple;
            //border: 1px $accent-lighter solid;
        }
        .empty {
            flex-grow: 1;
            background-color: $cb-palette-blue;
        }
    }
    .pct-text {
        width: 60px;
    }
}