.home-page {
  .feature-highlight {
    &.section-heading {
      h3 {
        color:$bluegrey;
        font-weight: bold;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
      h2 {
        color: $bluegrey;
        font-size: 2rem;
        margin-bottom: 20px;
        margin-top: -10px;
      }
    }
  }

  .search-panel {
    &.container-fluid {
      @include no-padding;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .main-title {
      color: $yellow;
      font-weight: bold;
      font-size: 3.25em;
      margin-bottom: 0.25em;
      padding-bottom: 0px;
    }

    .welcome-text {
      color: $light;
      font-size: 1.25em;
    }

    .search-examples {
      color: $light;
      a {
        color: $yellow !important;
      }
    }

    .autocomplete-box {
      @include no-padding;
    }
  }
}



