@import './VariantRecord/VariantRecordHeading';
@import './Shared/shared';
@import './GeneRecord/GeneRecordHeading';
@import './DatasetRecord/DatasetRecordHeading';

.record-summary-container {
    display: flex;
    flex-direction: column;
}

.header-summary-plot-title {
    font-size: 1.2em;
    width: 50%;
    margin-top: 45px;
}