@import '../../../../sass/variables.scss';

.autocomplete-box {
  display: flex;
  flex-direction: column;
  padding: 5px;


  .search-box-with-dropdown {

    .results-list {
      position: absolute;
      padding: 10px;
      display: flex;
      flex-direction: column;
      background-color: white;
      //border-radius: 5px 5px;
      z-index: 999999;

      &:active,
      :focus {
        color: #495057;
        background-color: #fff;
        border-color: #d96aba;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(155, 40, 123, 0.25);
      }
    }
  }
}